body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

/*
----------------------------
Alert element
----------------------------
*/

#custom-alert-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  flex-direction: column;
}

#custom-alert-message {
  font-size: 18px;
  margin-bottom: 20px;
}

#custom-alert-okay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

#custom-alert-okay-button:hover {
  background-color: #0069d9;
}

#calcSummary {
  text-align: center;
  margin-bottom: 1em;
  max-width: 70%;
}