* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.background-image{
  position: fixed;
  background: url("bmwBackgroundPic.jpg") no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  filter: blur(3px);
  opacity: 0.3;
}

/*
----------------------------
Alert element
----------------------------
*/

#custom-alert-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  flex-direction: column;
}

#custom-alert-message {
  font-size: 18px;
  margin-bottom: 20px;
}

#custom-alert-okay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}

#custom-alert-okay-button:hover {
  background-color: #0069d9;
}


/* 
----------------------------
Top section for my website
----------------------------
*/

nav{
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 5em;
  background-color: #737373;
  color: black;
  padding: 0 1em;
  opacity: 0.8;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%),linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

ul{
  display: flex;
  list-style: none;;
}

ul>li{
  padding: 1em;
  cursor: pointer;
  
}

li:hover{
  color: #d74e4e;
}
/* 
----------------------------
Website title
----------------------------
*/
#websiteTitle {
  font-size: 3em;
  text-align: center;
}

#hrUnderTitile {
  margin: 1em;
  width: 90%;
  border-color: black;
}

#calcSummary {
  text-align: center;
  margin-bottom: 1em;
  max-width: 70%;
}